{% extends "../main.html" %}

{% block title %}Buy Weapons{% end %}

{% block content %}
	<script>
		function get_weapon(uuid) {
			$("#weapon-uuid").value = uuid;
			$.getJSON('/shop/ajax?cls=weapon&uuid='+uuid, function(data) {
			  $.each(data, function(key, val) {
				  	if (key !== "Avatar") {
				    	$("#" + key).html(val);
				    } else {
				    	$("#Avatar").attr("src", function() { 
						    return val; 
						});
				    }
			  });
			});
		}
	</script>
	<!-- Hidden Download Form -->
	<div id="weapon-details" class="modal hide fade" style="display: none; ">
	    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">×</button>
	        <h3>Weapon Details</h3>
	    </div>
	    <div class="modal-body">
	    	<img id="Avatar" src="" hieght="250" width="250" />
	    	<br />
		    <strong>Name:</strong>
		    <div id="Name">
		    </div>
	    	<strong>Description:</strong>
	    	<div id="Description">
	    	</div>
	    </div>
	   	<form id="buy-form" method="post" action="/shop/buy">
	        <input type="hidden" id="weapon-uuid" name="uuid" value="" />
	        <input type="hidden" name="classification" value="weapon" />
		</form>
	    <div class="modal-footer">
	        <a href="#" class="btn" data-dismiss="modal">Close</a>
	        <button type="button" class="btn btn-primary" onclick="alert(1)">Buy</button>
	    </div>
	</div>
	<!-- Start Visable -->
	<h1>Buy Weapons</h1>
	<br />
	<table class="table table-condensed">
		<thead>
			<tr>
		    	<th>Name</th>
		    	<th>Damage</th>
		    	<th>Rating</th>
		    	<th>Gold</th>
		    	<th><!-- Empty header for the button --></th>
			</tr>
		</thead>
		<tbody>
		{% for weapon in weapons %}
			<tr>
		    	<td>{{ weapon.name }}</td>
		    	<td>{{ weapon.damage }}</td>
		    	<td>{{ weapon.rating }}</td>
		    	<td>{{ weapon.cost }}</td>
		    	<td>
		    		<button class="btn" data-toggle="modal" href="#weapon-details" onclick="get_weapon('{{ weapon.uuid }}')">
		    		Details
		    		</button>
		    	</td>
		    </tr>
		{% end %}
	    <!-- End For -->
	  </tbody>
	</table>
{% end %}