{% extends "../main.html" %}

{% block title %}Welcome{% end %}

{% block content %}
    <div class="span11 well" style="background-image: url(/static/images/cover_image.jpg); background-size:contain; background-size:100%;">
    	<h1 style="text-shadow: 3px 3px 3px #000; font-size:300%;">&nbsp;King Arthur</h1>
    	<h2 style="text-shadow: 2px 2px 2px #000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quest For the Holy Grail</h2>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>

    </div>
{% end %}