{% extends "../main.html" %}

{% block title %}User Home{% end %}


{% block content %}

	<!-- This is gross im so sorry -->
	<script>
	$(document).ready(function() {

	 	var ws = new WebSocket("ws://{{ handler.application.settings['ws_ip_address'] }}:{{ handler.application.settings['ws_port'] }}/ws/quest");

	 	var sid = "{{auth}}";

	 	ws.onopen = function() {
        	//This should be the auth cookie, there should be a better way to do this
        	sendMessage("startbattle", sid);
        	console.log(sid);
	    };

	    ws.onmessage = function (evt) {
        	//message = jQuery.parseJSON(evt.data);
        	console.log(evt.data);
        	var message;
        	try {
        		message = jQuery.parseJSON(evt.data);
        	} catch (err) {
        		//Invalid json GTFO
        		console.log("Invalid JSON object");
        	}
        	//Load initial monster data 
        	if (message['type'] == "SETUP") {
        		addToGameFeed(message['text']);
        		fillInMonster(message['monster']);
        	}
    	}

    	ws.onclose = function() {
    		alert("Websocket Closed!");
    	}

    	//Loads data from the json structure into the page
    	function fillInMonster(monster) {
    		console.log(monster);
    		$("#monster-name").text(monster["name"]);
    		$("#monster-health").text(monster["health"]);
    		$("#monster-mana").text(monster["mana"]);
    		$("#monster-strength").text(monster["strength"]);
    		$("#monster-defense").text(monster["defense"]);
    		$("#monster-level").text(monster["level"]);

    		//Change avatar
    		$("#monster-avatar").css("background-image", "url("+monster["avatar"]+")");  
    	}

    	function sendMessage(type, value) {
    		if (value != null){
    			ws.send("{\"type\":\""+type+"\", \"sid\":\""+value+"\"}");
    		}
    	}

    	function addToGameFeed(text) {
    		$("#gamefeed").append(text);
    	}

    	//Removes spaces from a given string
    	function trim (str) {
 		   return str.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
		}
    	//<!-- Bind to buttons -->

    	$('#attack').bind('click', function() {
			sendMessage("attack", sid);
		});

    	$('#defend').bind('click', function() {
		  sendMessage("defend", sid);
		});

		$('#advanced').bind('click', function() {
		  sendMessage("advanced", sid);
		});

		$('#run').bind('click', function() {
		  sendMessage("run", sid);
		});



	 });
	</script>
























	<div class="row">
		<!-- Sorry for this css hack -->
		<div class="span3 well" id="avatar" style="background-image: url(/avatars/{{ user.avatar }});">
			<h1 style="text-shadow: 3px 3px 3px #000;">{{ user.name }}</h1>
		</div>
		<div class="well span2" id="stats">
			<h2>Stats</h2>
			<hr>
			<p><i class="icon-glass"></i> Level - [{{user.level}}]</p>
			<p><i class="icon-plus"></i> Strength - [{{user.strength}}]</p>
			<p><i class="icon-tags"></i> Defense - [{{user.defense}}]</p>
			<p><i class="icon-heart"></i> Health - [{{user.health}}]</p>
			<p><i class="icon-tint"></i> Mana - [{{user.mana}}]</p>
		</div>
		<!-- Sorry for this css hack -->
		<div class="span3 well" id="monster-avatar" style="background-image: url(/avatars/{{ user.avatar }});">
			<h1 style="text-shadow: 3px 3px 3px #000;" id="monster-name" >Monster Name</h1>
		</div>
		<div class="well span2" id="stats">
			<h2>Stats</h2>
			<hr>
			<p><i class="icon-glass"></i> Level - [<span id="monster-level"></span>]</p>
			<p><i class="icon-plus"></i> Strength - [<span id="monster-strength"></span>]</p>
			<p><i class="icon-tags"></i> Defense - [<span id="monster-defense"></span>]</p>
			<p><i class="icon-heart"></i> Health - [<span id="monster-health"></span>]</p>
			<p><i class="icon-tint"></i> Mana - [<span id="monster-mana"></span>]</p>
		</div>
	</div>
	<div class="well" >
		<!-- Sorry I dont want to fix this correctly -->
		<style type="text/css">
			button {
				margin-left:50px;
				margin-right:130px;
			}
		</style>
		<center>

			<div class="row"> <!-- Button container -->
				<button class="btn" id="attack" >Attack!</button>
				<button class="btn" id="defend" >Defend!</button>
				<button class="btn" id="advanced" >Advanced Atack!</button>
				<button class="btn" id="run" >Run Away!</button>
			</div>
		</center>
	</div>

	<h2>Game Feed</h2>
	<div class="well" id="gamefeed" style="overflow:auto; height:120px;" >
	</div>
{% end %}