{% extends "../main.html" %}

{% block title %}User Home{% end %}

{% block content %}
	<h1>{{ user.name }}</h1>
	<br />
	<div class="row" id="stats-container">
		<!-- Sorry for this css hack -->
		<div class="span4 well" id="avatar" style="background-image: url(/avatars/{{ user.avatar }});">
		</div>
		<div class="well span6" id="stats">
			<h2>Stats</h2>
			<hr>
			<p><i class="icon-glass"></i> Level - [{{user.level}}]</p>
			<p><i class="icon-plus"></i> Strength - [{{user.strength}}]</p>
			<p><i class="icon-tags"></i> Defense - [{{user.defense}}]</p>
			<p><i class="icon-heart"></i> Health - [{{user.health}}]</p>
			<p><i class="icon-tint"></i> Mana - [{{user.mana}}]</p>
		</div>
	</div>

	<hr>
	<div class="row">
		<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Current Equipment</h2>
		<br>
		<div class="well span5">
			<h2>{{ user.equiped_weapon.name }}</h2>
			<hr>
			<div class="span2" id="stats">
				<p><i class="icon-exclamation-sign"></i> Required Level - [{{ user.equiped_weapon.required_level }}]</p>
				<p><i class="icon-fire"></i> Damage - [{{ user.equiped_weapon.damage }}]</p>
				<p><i class="icon-screenshot"></i> Rating - [{{ user.equiped_weapon.rating }}]</p>
				<p><i class="icon-star-empty"></i> Advanced - [{{ user.equiped_weapon.advanced }}]</p>
				<p><i class="icon-bookmark"></i> Class - [{{ user.equiped_weapon.classification }}]</p>
				<p><i class="icon-book"></i> Description:</p>
				<blockquote><small>{{ user.equiped_weapon.description }}</small></blockquote>
			</div>
			<div class="span2" id="mini-avatar">
				<img src="{{ user.equiped_weapon.avatar }}"></img>
			</div>
		</div>
		<div class="well span5">
			<h2>{{ user.equiped_armor.name }}</h2>
			<hr>
			<div class="span2" id="stats">
				<p><i class="icon-exclamation-sign"></i> Required Level - [{{ user.equiped_armor.required_level }}]</p>
				<p><i class="icon-screenshot"></i> Rating - [{{ user.equiped_armor.rating }}]</p>
				<p><i class="icon-bookmark"></i> Class - [{{ user.equiped_armor.classification }}]</p>
				<p><i class="icon-book"></i> Description:</p>
				<blockquote><small>{{ user.equiped_armor.description }}</small></blockquote>
			</div>
			<div class="span2" id="mini-avatar">
				<img src="{{ user.equiped_armor.avatar }}"></img>
			</div>
		</div>
	</div>

	<hr>
	<div class="span12">
		<h2>Weapon Rack</h2>
		<br>
		<div class="span10 well">
			{% if len(user.get_all_weapons()) > 0 %}
			<table class="table table-condensed">
				<thead>
					<tr>
				    	<th>Name</th>
				    	<th><i class="icon-exclamation-sign"></i> Required Level</th>
				    	<th><i class="icon-fire"></i> Damage</th>
				    	<th><i class="icon-screenshot"></i> Rating</th>
				    	<th><i class="icon-star-empty"></i> Advanced</th>
				    	<th><i class="icon-bookmark"></i> Classification</th>
				    	<th><!-- Empty header for the button --></th>
					</tr>
				</thead>

				<tbody>
				<!-- For Every Weapon the player owns -->
				{% for weapon in user.get_all_weapons() %}
				<tr>
			    	<td>{{ weapon.name }}</td>
			    	<td>{{ weapon.required_level }}</td>
			    	<td>{{ weapon.damage }}</td>
			    	<td>{{ weapon.rating }}</td>
			    	<td>{{ weapon.advanced }}</td>
			    	<td>{{ weapon.classification }}</td>
			    	<td>
			    		<!-- This is kinda growdy, sorry -->
			    		<form action="/user/equipweapon" method="post" >
			    			{% raw xsrf_form_html() %}
			    			<input type="hidden" name="weapon_id" value="{{ weapon.id }}">
			    			<input type="submit" class="btn" value="Equip"></input>
			    		</form>
			    	</td>
			    </tr>
			    {% end %}
			    <!-- End For -->
			  </tbody>
			</table>
			{% else %}
			<p> You don't have any weapons! </p>
			{% end %}
		</div>
	</div>

	<hr>
	<div class="span12">
		<h2>Armory</h2>
		<br>
		<div class="span10 well">
			{% if len(user.get_all_armor()) > 0 %}
			<table class="table table-condensed">
				<thead>
					<tr>
				    	<th>Name</th>
				    	<th><i class="icon-exclamation-sign"></i> Required Level</th>
				    	<th><i class="icon-screenshot"></i> Rating</th>
				    	<th><i class="icon-bookmark"></i> Classification</th>
				    	<th><!-- Empty header for the button --></th>
					</tr>
				</thead>

				<tbody>
				<!-- For Every Weapon the player owns -->
				{% for armor in user.get_all_armor() %}
				<tr>
			    	<td>{{ armor.name }}</td>
			    	<td>{{ armor.required_level }}</td>
			    	<td>{{ armor.rating }}</td>
			    	<td>{{ armor.classification }}</td>
			    	<td>
			    		<!-- This is kinda growdy, sorry -->
			    		<form action="/user/equiparmor" method="post" >
			    			{% raw xsrf_form_html() %}
			    			<input type="hidden" name="armor_id" value="{{ armor.id }}">
			    			<input type="submit" class="btn" value="Equip"></input>
			    		</form>
			    	</td>
			    </tr>
			    {% end %}
			    <!-- End For -->
			  </tbody>
			</table>
			{% else %}
			<p>You Don't have any Armor!</p>
			{% end %}
		</div>
	</div>
	<hr>
{% end %}